
<div style="background-color:#ccc;border:1px solid red;padding:10px;">
    You have called a partial view.
    @foreach (var person in ViewBag.etuC)
    {
        <p>etudiant_id = person.etudiant_id</p>
        <p>Cours_id = person.cours_id</p>
        <p>Cote = person.cote</p>
    }
</div>