
@{
    ViewBag.Title = "Demandes de Tutorat";
}

<h2>Demandes de Tutorat</h2>

<p> Sélectionnez un cours pour afficher la liste des demandeurs pour ce cours. Il sera possible d'assigner un tuteur via le menu déroulant et en cochant la validation.</p>

 @using (Html.BeginForm("DemandesTutorat", "GestionTutorat"))
 {
    <div class="dropdown ">
        <div class="form-group">
            <div class="col-md-2 control-label">
                Choix du cours :
            </div>
            <div class="dropdown-toggle col-md-5">
                @Html.DropDownList("DDCours")
            </div>
      </div>
        <input type="submit" value="Soumettre" />
    </div>
 }

<div>
    @Html.ActionLink("Liste de tuteurs temporaires", "ListTuteursTmp", "GestionTutorat")<br />
    @Html.ActionLink("Liste de demandeurs temporaires", "ListDemandeursTmp", "GestionTutorat")
</div>


