
@{
    ViewBag.Title = "GestionPrestationsUn";
}

<h2>Gestion des prestations</h2>

<p> Sélectionnez un tuteur pour valider ses prestations.</p>
<p> Vous serez redirigé vers la page contenant toutes les prestations encodées par le tuteur.</p>

<p> En comparant avec la feuille de route, vous pouvez valider les données.</p>

@using (Html.BeginForm("GestionPrestationsUn", "GestionTutorat"))
{
    <div class="dropdown ">
        <div class="form-group">
            <div class="col-md-2 control-label">
                Choix du cours :
            </div>
            <div class="dropdown-toggle col-md-5">
                 @Html.DropDownList("tuteurs")
            </div>
        </div>
        <input type="submit" value="Soumettre" />
    </div>
}

