
@{
    ViewBag.Title = "Explication";
}

<h2>Explication de la partie tutorat</h2>

<h3> Guide Pratique</h3>
<p> L'onglet va fournir diverses informations aux étudiants souhaitant entrer dans le programme de tutorat.</p>

<p> Vous pouvez y trouver : l'évolution du tutorat à l'Ephec depuis qu'il a été mis en place, suivi d'explications concernant qui peut être tuteur, quel est son rôle, à qui s'adresse le tutorat, ... <br />
    Une liste d'outils pratiques pour la bonne organisation du tutorat mais aussi une foire aux questions et finalement, l'adresse du responsable pour les tutorats.</p>

<h3> Offre et Demande de tutorat</h3>
<p> Une fois connecté et après avoir ajouté vos cours, vous pouvez vous inscrire aux tutorats :</p>


<p> Les étudiants demandeurs de tutorat se rendront dans l'onglet demande. De là, ils pourront voir les cours dans lesquels ils peuvent demander un tutorat.</p>
<p> Ne s'affichent ici que les cours où l'étudiant n'a pas de côte et/ou les cours où il a eu des résultats inférieurs à 10 / 20.</p>

<br/>
<p> Les étudiants offrant leur service pour les tutorats iront dans l'onglet Offre. De là, pareil que pour les demandeurs : les cours où ils ont eu une cote supérieure à 12/20 s'afficheront. </p>

<br/>
<p> Une fois les propositions effectuées, les étudiants seront redirigés vers la page d'accueil si tout s'est bien passé.</p>

<h3> Encodage des prestations </h3>
<p> Un dernier onglet concerne l'encodage des prestations : si le tutorat a été accepté et que l'étudiant s'est vu attribué un étudiant à aider, il pourra encode ses prestations. </p>



