
@{
    ViewBag.Title = "Guide pratique du tutorat à la HE EPHEC";
}

<h2>Guide pratique du tutorat à la Haute École EPHEC</h2>

<h3> Être tuteur à l'Ephec</h3>
<h4><b><i> Historique </i> </b></h4>
<p>
    L’organisation du tutorat entre pairs au sein de la HE EPHEC a vu le jour pour la première fois en 2007-2008.
    Cette expérience pilote en Communauté française s’intégrait dans un appel à projet primé par la Fondation Roi Baudouin.
</p>

<p>
    A la suite de cette expérience, l’organisation du tutorat dans l’enseignement supérieur a été rendu obligatoire dans toutes les HE<sup><a href="#footnote-1">1</a></sup>.
</p>

<br />

<table class="table">
    <tr>
        <th> Année académique </th>
        <th> Nombre de tuteurs </th>
        <th> Nombre de demandeurs </th>
        <th> Nombre d'heures indemnisées </th>
    </tr>
    <tr>
        <th> 2007-2008 </th>
        <th> 73 </th>
        <th> 134 </th>
        <th> 587 </th>
    </tr>
    <tr>
        <th> 2008-2009</th>
        <th> 83 </th>
        <th> 186 </th>
        <th> 949 </th>
    </tr>
    <tr>
        <th> 2009-2010 </th>
        <th> 120 </th>
        <th> 192 </th>
        <th> 1019 </th>
    </tr>
    <tr>
        <th> 2010-2011 </th>
        <th> 128 </th>
        <th> 289 </th>
        <th> 2264 </th>
    </tr>
    <tr>
        <th> 2011-2012 </th>
        <th> 167 </th>
        <th> 234 </th>
        <th> 2862 </th>
    </tr>
    <tr>
        <th> 2012-2013 </th>
        <th> 238 </th>
        <th> 530 </th>
        <th> 3646 </th>
    </tr>
</table>
<br />
<p>
    Lorsque l’on analyse l’évolution de la demande de tutorat sur ces cinq dernières années, on peut constater une forte évolution tant au niveau des demandes d’aides par les étudiants de 1<sup>ère</sup> bac qu’au niveau de l’investissement des étudiants tuteurs prêts à soutenir leurs pairs dans l’aide à la réussite de leur première année.
</p>
<br />

<h4><b><i> Qui peut être tuteur à l’Ephec ? </i></b> </h4>

<p>
    Tout étudiant inscrit régulièrement en 2<sup>ème</sup> ou 3<sup>ème</sup> bac à la Haute Ecole Ephec peut être tuteur sous certaines conditions.
</p>

<ul>
    <li>
        Avoir obtenu au moins 14/20 dans les matières pour lesquelles il pose sa candidature comme tuteur. En effet, nous considérons qu’un <b>certain niveau de compétences</b> doit être atteint par le candidat tuteur.
    </li>
    <li>
        <b>Avoir envie d’aider</b> les autres étudiants à réussir les matières pour lesquelles ils rencontrent des difficultés. L’expérience de ces dernières années nous a montré que l’esprit d’équipe entre les étudiants est particulièrement développé, de nombreux étudiants s’entraident dans les matières plus difficiles.
    </li>
    <li>
        <b>Se sentir suffisamment à l’aise</b> pour expliquer une matière à un étudiant en difficulté. <br />
        Avoir obtenu de bonnes notes ne signifie pas toujours se sentir capable de l’expliquer.
    </li>
    <li>
        Voici deux exemples :
        <ul>
            <li>
                Un étudiant peut avoir obtenu d’excellentes notes en mathématiques mais ne pas savoir expliquer les mathématiques à un pair car la logique mathématique lui semble être évidente.
            </li>
            <li>
                Certains étudiants néerlandophones ne souhaitent pas être tuteur en néerlandais car la grammaire est une chose évidente pour eux et ils se sentent bien incapables d’en donner les règles.
            </li>
        </ul>
    </li>
    <li>
        En ce qui concerne l’apprentissage des langues, nous autorisons les étudiants de 1ère bac qui le souhaitent et qui en ont les compétences à devenir tuteur. Certains étudiants souhaitent partager avec d’autres l’expérience linguistique qu’ils ont acquise lors de séjours à l’étranger ou parce que leur langue maternelle n’est pas le français.
    </li>
    <li>
        Les étudiants bisseurs de 1ère bac ne sont en principe pas autorisés à devenir tuteur pour les matières pour lesquelles ils ont obtenu 14/20. Dans de très rares cas, une dérogation peut toutefois être accordée en accord avec la Direction, les enseignants des cours concernés et le SAR.
    </li>
</ul>

<br />
<h4><b><i> A qui s’adresse le tutorat </i></b> </h4> 
<p>
    Le tutorat est accessible à tous les étudiants <b><u>MOTIVES</u></b> de 1<sup>ère</sup> bac dans toutes les matières figurant dans le programme de cours de 1<sup>ère</sup>.
</p>
<p>
    Deux exceptions :
</p>

<ul>
    <li>
        Les étudiants inscrits en 2<sup>ème</sup> bac mais qui ont des cours de 1<sup>ère</sup> à repasser (soit étudiant passerelle, soit étudiant avec des crédits résiduels). Ces étudiants ont la possibilité de demander un tuteur pour les matières de 1<sup>ère</sup> qu’ils doivent représenter.
    </li>
    <li>
        Les tables de conversation en langues sont quant à elles accessibles à tous les étudiants de 2<sup>ème</sup>.
    </li>
</ul>
<p>
    L’étudiant qui demande un tutorat (demandeur ou tutoré) a toutefois des obligations. <b> Il doit être régulièrement présent aux cours, avoir ses notes en ordre et avoir travaillé la matière pour venir auprès de son tuteur avec des questions sur la matière qui lui pose problème. </b>
</p>
<p>
    Le demandeur qui atteint 20 demi-jours d’absence sans justification valable pourra se voir supprimer l’accès au tutorat par le Service d’aide à la Réussite.
</p>
<p>
    <b><u>Attention</u> : L’étudiant demandeur ne pourra bénéficier de plus de 10 heures de tutorat maximum cours.</b>  Si le tuteur souhaite aider son tutoré au-delà de 10 heures, il ne recevra pas d’indemnités pour ces heures « supplémentaires » sauf dérogation demandée au SAR.
</p>

<br />
<h4><b><i> Quel est le rôle du tuteur </i></b></h4>
<p>
    Le rôle du tuteur <b>n’est en aucun cas celui </b> de remplacer l’enseignant.
</p>
<p>
    Le tuteur est là pour soutenir l’étudiant en difficulté.
</p>
<p>
    Il ne s’agit pas non plus de répéter le cours ou de faire les travaux à la place des demandeurs mais il s’agit bien de « prendre soin » de l’étudiant et de lui venir en aide<sup><a href="#footnote-2">2</a></sup> :
</p>
<ul>
    <li>
        Il peut <b>réexpliquer</b> une matière mal comprise par le demandeur, refaire des exercices avec lui. Etant étudiant lui-même, le tuteur utilise le même langage que le tutoré et le message passe souvent plus facilement.
    </li>
    <li>
        Le tuteur peut également jouer un rôle très important dans l’<b>intégration</b> à l’enseignement supérieur du demandeur. L’étudiant de 1ère bac qui arrive dans l’enseignement supérieur peut être confronté à de nouvelles difficultés même s’il était « bon étudiant » dans le secondaire.
        <ul>
            <li>
                Les exigences des enseignants sont différentes. Il ne suffit plus d’étudier sa matière, il faut pouvoir faire des liens entre les différents chapitres, voire différents cours. Une recherche personnelle peut s’avérer être nécessaire.
            </li>
            <li>
                Le langage utilisé dans l’enseignement supérieur peut perturber certains étudiants de 1ère , les enseignants sont obligés de considérer que tous les étudiants arrivent avec un bagage X alors que chaque étudiant arrive avec un bagage personnel qui peut être très différent de l’un à l’autre, culturellement, socialement ou intellectuellement.
            </li>
            <li>
                Nous constatons également que pour certains étudiants, la maîtrise de la langue française est un problème important.
            </li>
            <li>
                Les méthodes de travail doivent être adaptées, la matière est plus importante…
            </li>
        </ul>
    </li>
</ul>
<p>
    Le tutorat peut donc donner de <b>nouveaux outils</b> au demandeur, le soutenir dans ses démarches d’apprentissage et l’aider à acquérir une certaine confiance en lui.
</p>
<p>
    Nous constatons que certains étudiants comprennent aisément les contenus mais ont besoin d’être « rassurés » quant à leurs démarches par le tuteur.
</p>
<p>
    Le tuteur peut ainsi partager son expérience d’étudiant avec le demandeur. Il a réussi sa 1ère année, en connaît les difficultés et peut soutenir le demandeur dans ses démarches.
</p>

<br />
<h4><i><b> L'organisation pratique du tutorat </b></i></h4>
<b>L'inscription comme tuteur </b>
<br />
<p>Pour devenir tuteur, il suffit de poser sa candidature au Service d’Aide à la Réussite. </p>
<p>L’organisation du tutorat commence dès le mois d’octobre mais le candidat tuteur peut proposer ses services à tout moment de l’année. </p>
<p>Le SAR vérifie si le candidat tuteur remplit bien les conditions exigées pour remplir sa fonction et l’encode dans une base de données spécifique, propre à la HE. </p>

<br />
<b>Les formalités administratives </b>

<br />
<p><u>La convention de volontariat</u>. L’étudiant tuteur doit signer un document officiel de volontariat qui lui permet de recevoir des indemnités pour son investissement. </p>
<p>
    Ces indemnités couvrent les éventuels frais engendrés par l’organisation des séances de tutorat (photocopies, frais de déplacements ou de communication).
</p>
<p>
    Cette convention n’empêche pas l’étudiant d’avoir un contrat de travail étudiant, la législation étant différente.
</p>
<p>
    Le bénévole ne doit toutefois pas dépasser un certain montant dans les indemnités qu’il perçoit<sup><a href="#footnote-3">3</a></sup>. Un étudiant également bénévole dans un club sportif par exemple doit vérifier qu’il ne dépasse pas le plafond fixé chaque année s’il est à la fois tuteur et bénévole indemnisé dans une autre association.
</p>
<p>
    Cette convention permet à l’étudiant d’être également assuré dans le cadre de ses prestations et prévoit qu’il organise ses activités de bénévole en bon père de famille. Il s’agit donc bien d’un « contrat » entre l’étudiant tuteur et la HE.
</p>

<br/>
<p>
    <u>La charte de bonne conduite </u>
</p>
<p>
    Ce document prévoit les droits et les devoirs de chaque partie impliquée dans l’organisation du programme<sup><a href="#footnote-4">4</a></sup> et veille au bon fonctionnement de l’organisation du tutorat. Les obligations du tuteur y sont décrites.
</p>
<p>
    Il doit faire de son mieux pour aider un étudiant dont il a la charge dans le cadre de sa réussite et veiller à la bonne organisation des rdv prévus avec le demandeur.
</p>
<p>
    La charte prévoit également qu’en cas de fraude quant à la comptabilisation des heures de tutorat prestées, l’étudiant pourrait être passible du Conseil de discipline de la HE.
</p>

<br/>
<p>
    <u> La feuille de route du tuteur </u>
</p>
<p>
    Ce document est important car il permet au tuteur de recevoir ses indemnités. Il nous sert également pour établir les statistiques de fréquentation du tutorat. 
</p>
<p>
    Chaque fois que le tuteur rencontre un étudiant dans le cadre du tutorat, il doit y noter la date, la durée, le cours concerné ainsi que le nom de l’étudiant aidé. Nous demandons également au tuteur de faire un compte rendu des activités/matières vues avec son tutoré. 
</p>
<p>
    L’étudiant demandeur quant à lui certifie les informations données par le tuteur en signant la feuille de route. 
</p>
<p>
    Le tuteur ne peut percevoir plus de 30€/jour. S’il organise donc un tutorat de plus de trois heures, ses indemnités seront plafonnées à 30€. 
</p>
<p>
    Il est important que le tuteur veille à ce que chaque étudiant qu’il aide soit inscrit au programme. 
</p>
<p>
    Il ne pourra recevoir ses indemnités si le demandeur n’est pas inscrit pour le cours concerné. Si un étudiant est déjà aidé dans une matière et qu’il souhaite être soutenu dans une autre discipline par un même tuteur, c’est tout à fait envisageable <b>à condition</b> qu’il en fasse la demande préalable auprès du SAR. 
</p>

<br/>
<p>
    <u>Le paiement des indemnités </u>
</p>
<p>
    Lorsque la feuille de route du tuteur est complète, il lui suffit de la déposer au SAR. 
</p>
<p>
    Toutes les heures prestées sont alors encodées et un listing est envoyé environ une fois par mois au service comptabilité de la HE qui se charge d’indemniser les tuteurs. 
</p>
<p>
    Pour que le tuteur bénéficie de ses indemnités, il est important qu’il veille à : 
</p>
<ul>
    <li>
        Mettre son nom et n° de compte bancaire sur la feuille de route.
    </li>
    <li>
        Dater et signer la feuille de route 
    </li>
    <li>
        Vérifier que les informations soient complètes (nom du tutoré, cours concerné, durée de chaque tutorat et compte rendu des activités organisées pendant le tutorat) 
    </li>
</ul>

<h4><i><b>Questions fréquemment posées </b></i></h4>

<p>
    <i> Je ne souhaite plus me voir attribuer d’étudiant supplémentaire. </i>
</p>
<p>
    Aucun problème. Il te suffit de le faire savoir au SAR. Le programme informatique qui est à notre disposition nous permet maintenant de limiter le nombre de tutorats pour un tuteur. 
</p>
<p>
    <i> Je souhaite pouvoir aider un étudiant en particulier </i>
</p>
<p>
    En principe, c’est le SAR qui attribue les tutorés aux tuteurs afin de répondre au mieux à l’offre et à la demande de chacun. 
</p>
<p>
    Dans certains cas, il est possible de répondre à une demande particulière d’un étudiant. Il faut alors en faire la demande expresse au SAR. 
</p>
<p>
    Aucun tutorat organisé sans l’accord du SAR ne pourra être accepté ! 
</p>

<br />
<p>
    <i> Quand se déroule le tutorat ? </i>
</p>
<p>
    Les heures de tutorat peuvent s’organiser à tout moment. Etant donné vos horaires chargés, il est parfois difficile de trouver une plage horaire qui convienne à la fois au tuteur et au tutoré. 
</p>
<p>
    Le tutorat peut donc s’organiser à l’école mais également le WE. Le tuteur et le tutoré s’organisent pour se rencontrer dans un lieu propice au travail. 
</p>
<p>
    Pour les étudiants qui ont bénéficié d’un tutorat pendant l’année mais qui doivent représenter certaines matières, il est possible pour lui de bénéficier d’un « <b>tutorat d’été</b> » dans la mesure où son tuteur est disponible et disposé à l’aider pendant les vacances. 
</p>
<p>
    Si le tuteur en a la possibilité, il peut également aider son tutoré durant les périodes de blocus étant bien entendu que le tuteur ne doit pas mettre sa propre réussite en danger ! 
</p>

<br />
<p>
    <i> Je n’arrive pas à contacter un tutoré. </i>
</p>
<p>
    Il arrive régulièrement que certains étudiants ne prennent pas contact avec leur tuteur pour différentes raisons : 
</p>
<ul>
    <li>
        Le tutoré pensait rencontrer des difficultés avec la matière demandée en tutorat et se rend compte qu’il arrive à la maîtriser sans l’aide de son tuteur. Il est bon de le faire savoir au SAR afin de supprimer le tutorat et de libérer la place pour un autre étudiant en difficultés.
    </li>
    <li>
        Le tutoré se désiste après quelques semaines de cours. 
    </li>
    <li>
        Le tutoré n’est pas « acteur de sa réussite » et ne prend pas la peine de s’investir suffisamment dans la réussite de ses cours 
    </li>
</ul>
<p>
    Le tuteur doit proposer à l’étudiant son aide ; toutefois, si le tutoré ne réagit pas à l’offre, le tuteur est invité à le signaler au SAR. 
</p>

<br/>
<p>
    <i>Je ne m’entends pas avec mon tutoré ou nos horaires ne concordent pas </i>
</p>

<p>
    Il peut arriver qu’il y ait incompatibilité d’humeur, de caractère ou d’horaire entre un tuteur et son tutoré. Dans ce cas, il suffit de venir au SAR. Après avoir analysé ensemble les problèmes, soit le tutorat peut se poursuivre dans de bonnes conditions, soit la demande est revue et le tutoré se voit changer de tuteur. 
</p>

<br/>
<p>
    <i>Puis-je organiser un tutorat avec plusieurs étudiants ? </i>
</p>
<p>
    Il est tout à fait possible d’organiser une séance de tutorat avec deux ou trois étudiants maximum. Il faut toutefois que tu te sentes capable de gérer plusieurs étudiants à la fois. 
</p>
<p>
    Cette formule peut être particulièrement intéressante lorsqu’il s’agit d’étudiants de la même classe qui rencontrent des difficultés similaires. 
</p>
<p>
    Il y a un effet d’émulation et de coopération entre les étudiants qui peut s’installer. 
</p>


<h2>
    <b>Qui Contacter</b>
</h2>
<p>
    Pour toute question relative au tutorat au sein de la HE, tu peux prendre contact avec : 
</p>
<p> 
    I. ALEN
</p>
<p>
    Coordinatrice du Service d’aide à la Réussite (SAR) 
</p>
<p>
    Local S20(Woluwe)  /  Local L51 (LLN) 
</p>



<div id="note">
    <p id="footnote-1">
        1 : 1 Cfr décret sur la démocratisation de l’enseignement supérieur en Communauté française (juillet 2008).
    </p>
    <p id="footnote-2">
        2 : Le mot tuteur vient du latin tueor, prendre soin, venir en aide.
    </p>
    <p id="footnote-3">
        3 : 1308.38€ en 2015, indexé chaque année.
    </p>
    <p id="footnote-4">
        4 : HE, demandeur et tuteur 
    </p>
</div>

