
@{
    ViewBag.Title = "Règlement";
}

<h2>Guide pratique du tutorat à la HE EPHEC</h2>

<h3> Le tutorat à l'EPHEC</h3>
<p> <b><i> Historique</i></b> </p>
<p>
    L’organisation du tutorat entre pairs au sein de la HE EPHEC a vu le jour pour la première fois en 2007-2008.
    Cette expérience pilote en Communauté française s’intégrait dans un appel à projet primé par la Fondation Roi Baudouin.
</p>

<p>
    A la suite de cette expérience, l’organisation du tutorat dans l’enseignement supérieur a été rendu obligatoire dans toutes les HE1.
</p>
<p>
    Lorsque l’on analyse l’évolution de la demande de tutorat sur ces cinq dernières années, on peut constater une forte évolution tant au niveau des demandes d’aides par les étudiants de 1ère bac qu’au niveau de l’investissement des étudiants tuteurs prêts à soutenir leurs pairs dans l’aide à la réussite de leur première année.
</p>
<br />

<table class="table">
    <tr>
        <th> Année académique </th>
        <th> Nombre de tuteurs </th>
        <th> Nombre de demandeurs </th>
        <th> Nombre d'heures indemnisées </th>
    </tr>
    <tr>
        <th> 2007-2008 </th>
        <th> 73 </th>
        <th> 134 </th>
        <th> 587 </th>
    </tr>
    <tr>
        <th> 2008-2009</th>
        <th> 83 </th>
        <th> 186 </th>
        <th> 949 </th>
    </tr>
    <tr>
        <th> 2009-2010 </th>
        <th> 120 </th>
        <th> 192 </th>
        <th> 1019 </th>
    </tr>
    <tr>
        <th> 2010-2011 </th>
        <th> 128 </th>
        <th> 289 </th>
        <th> 2264 </th>
    </tr>
    <tr>
        <th> 2011-2012 </th>
        <th> 167 </th>
        <th> 234 </th>
        <th> 2862 </th>
    </tr>
    <tr>
        <th> 2012-2013 </th>
        <th> 238 </th>
        <th> 530 </th>
        <th> 3646 </th>
    </tr>
</table>
<br />

<p> <b><i> Qui peut demander un tutorat l’Ephec ?</i></b> </p>

<p>
    Tout étudiant inscrit régulièrement en 1ère bac à la Haute Ecole Ephec
    peut demander l’aide d’un tuteur sous certaines conditions :
</p>

<ul>
    <li>
        Suivre les cours avec assiduité.
        L’objectif du tutorat est d’aider un étudiant motivé dans certaines matières et non pas de remplacer le cours dispensé par un enseignant.
    </li>
    <li>
        Avoir envie de réussir ses études.
        L’étudiant demandeur doit tout mettre en œuvre pour réussir son cursus. Pour ce faire, un travail régulier est indispensable. Le tutoré doit avoir ses cours en ordre et avoir ciblé les matières qu’il ne maîtrise pas suffisamment.
    </li>
    <li>
        <u>Attention</u> : L’étudiant demandeur ne pourra bénéficier de plus de 10 heures de tutorat maximum cours.
    </li>
</ul>
<p>

</p>

<p>
    <b>
        <i>
            A qui s’adresse le tutorat
        </i>
    </b>
</p>
            Le tutorat est accessible à tous les étudiants <u>MOTIVES</u> de 1ère bac dans toutes les matières figurant dans le programme de cours de 1ère.

            Deux exceptions :
<ul>
    <li>
        Les étudiants inscrits en 2ème bac mais qui ont des cours de 1ère à repasser (soit étudiant passerelle, soit étudiant avec des crédits résiduels). Ces étudiants ont la possibilité de demander un tuteur pour les matières de 1ère bac qu’ils doivent représenter.
    </li>
    <li>
        Les tables de conversation en langues sont quant à elles accessibles à tous les étudiants de 2ème bac.
    </li>
</ul>
<p>
    Le demandeur qui atteint 20 demi-jours d’absence sans justification valable pourra se voir supprimer l’accès au tutorat par le Service d’aide à la Réussite
</p>
<p>
    <b>
        <i>
            Quel est le rôle du tuteur
        </i>
    </b>
</p>
<p>
    Le rôle du tuteur <b>n’est en aucun cas celui </b> de remplacer l’enseignant.
</p>
<p>
    Le tuteur est là pour soutenir l’étudiant en difficulté.
</p>
<p>
    Il ne s’agit pas non plus de répéter le cours ou de faire les travaux à la place des demandeurs mais il s’agit bien de « prendre soin » de l’étudiant et de lui venir en aide<sup id="note2">²</sup> : 
</p>
<ul>
    <li>
        Il peut réexpliquer une matière mal comprise par le demandeur, refaire des exercices avec lui. Etant étudiant lui-même, le tuteur utilise le même langage que le tutoré et le message passe souvent plus facilement.
    </li>
    <li>
        Le tuteur peut également jouer un rôle très important dans l’intégration à l’enseignement supérieur du demandeur. L’étudiant de 1ère bac qui arrive dans l’enseignement supérieur peut être confronté à de nouvelles difficultés même s’il était « bon étudiant » dans le secondaire.
     <ul>
        <li>
            Les exigences des enseignants sont différentes. Il ne suffit plus d’étudier sa matière, il faut pouvoir faire des liens entre les différents chapitres, voire différents cours. Une recherche personnelle peut s’avérer être nécessaire.
        </li>
        <li>
            Le langage utilisé dans l’enseignement supérieur peut perturber certains étudiants de 1ère , les enseignants sont obligés de considérer que tous les étudiants arrivent avec un bagage X alors que chaque étudiant arrive avec un bagage personnel qui peut être très différent de l’un à l’autre, culturellement, socialement ou intellectuellement.
        </li>
         <li>
             Nous constatons également que pour certains étudiants, la maîtrise de la langue française est un problème important.
         </li>
         <li>
             Les méthodes de travail doivent être adaptées, la matière est plus importante…
         </li>
        </ul>
    </li>
</ul>
<p>
    Le tutorat peut donc donner de nouveaux outils au demandeur, le soutenir dans ses démarches d’apprentissage et l’aider à acquérir une certaine confiance en lui.
</p>
<p>
    Nous constatons que certains étudiants comprennent aisément les contenus mais ont besoin d’être « rassurés » quant à leurs démarches par le tuteur.
</p>
<p>
    Le tuteur peut ainsi partager son expérience d’étudiant avec le demandeur. Il a réussi sa 1ère année, en connaît les difficultés et peut soutenir le demandeur dans ses démarches.
</p>


<!-- PART 2 -->
<h3> L’organisation pratique du tutorat </h3>

            * L’inscription comme tutoré

            Pour demander un tutorat dans une ou plusieurs matières, il suffit à l’étudiant de s’inscrire auprès du SAR en complétant le formulaire de demande qu’il a reçu en début d’année. Ce formulaire est également disponible devant le bureau du SAR et sur sharepoint (https://ephec.sharepoint.com/sites/Agora/AideReussite)

            L’organisation du tutorat commence dès le mois d’octobre mais l’étudiant demandeur peut introduire une nouvelle demande à tout moment de l’année en fonction des difficultés qu’il rencontre.

            Dès réception de sa demande, Le SAR lui attribue le nom d’un tuteur susceptible de pouvoir l’aider.

            L’étudiant demandeur reçoit les coordonnées de son tuteur par mail. Il doit ensuite prendre contact rapidement avec l’étudiant qui lui a été attribué.

            En aucun cas, un tutorat ne peut être organisé sans en avoir fait une demande préalable auprès du SAR

            * Les formalités administratives

            La charte de bonne conduite

            Ce document prévoit les droits et les devoirs de chaque partie impliquée dans l’organisation du programme3 et veille au bon fonctionnement de l’organisation du tutorat. Les obligations du tutoré y sont décrites.

            * Il doit suivre régulièrement les cours

            * Il doit avoir ses cours en ordre et préparer la matière pour laquelle il éprouve des difficultés

            * Il doit respecter les rendez-vous prévus avec son tuteur.

            La charte prévoit également qu’en cas de fraude quant à la comptabilisation des heures de tutorat prestées, l’étudiant pourrait être passible du Conseil de discipline de la HE.

            La feuille de route du tuteur

            Chaque fois que le tuteur rencontre un étudiant dans le cadre du tutorat, il doit y noter la date, la durée, le cours concerné ainsi que le nom de l’étudiant aidé. Nous demandons également au tuteur de faire un compte rendu des activités/matières vues avec son tutoré.

            L’étudiant demandeur quant à lui certifie les informations données par le tuteur en signant la feuille de route.

<div id="note2">
    2 : Le mot tuteur vient du latin tueor, prendre soin, venir en aide 
    ...
</div>
<h3> Être demandeur</h3>

<h3>  Être </h3>
