@{
    ViewBag.Title = "Home Page";
}

<div style="color: rgb(92, 135, 178);" class="jumbotron">
    <h1 style="color: rgb(242, 137, 45); font-family:Times" ;>EPHEC - ePerso</h1>
    <img src="~/Content/img/Ephec-Logo.jpg" alt="Sample Image" width="500px" />
    <p class="lead">Page d'informations générales concernant la vie étudiante à l'EPHEC.</p>
    <p> Elle est normalement divisée en plusieurs onglets tels que : les données personnelles, donnée d'inscription, les résultats, les horaires. </p>
    <p> Pour ce travail, je n'ai repris que les onglets qui m'était nécessaire, l'idée étant d'intégrer l'onglet tutorat (qui apparait une fois connecté) à la plateforme déjà existante.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Liste des cours</h2>
        <p>
            L'ensemble des cours contenu dans la base de données.
        </p>
        <p> @Html.ActionLink("Liste des cours \u00bb", "Index", "cours", null, new { @class = " btn btn-info" })</p>
    </div>
    <div class="col-md-3">
        <h2>Liste d'étudiants</h2>
        <p>
            L'ensemble des étudiants ayant un compte dans la base de données.
        </p>
        <p> @Html.ActionLink("Liste d'étudiants \u00bb", "Index", "etudiants", null, new { @class = " btn btn-info" })</p>
    </div>
@if (Context.User.IsInRole("ConseilSocial"))
{
    <div class="col-md-3">
        <h2>Liste de demandeurs tmp</h2>
        <p>
            La liste des demandeurs temporaire, contenant les étudiants demandeur en attente de mise en lien avec un tuteur pour former un tutorat.
        </p>
        <p> @Html.ActionLink("Liste de demandeurs \u00bb", "ListDemandeursTmp", "GestionTutorat", null, new { @class = " btn btn-info" })</p>
    </div>
    <div class="col-md-3">
        <h2>Liste de tuteurs tmp</h2>
        <p>
            La collection des tuteurs en attente de mise en relation avec un demandeur pour former un tutorat.
        </p>
        <p> @Html.ActionLink("Liste de tuteurs \u00bb", "ListTuteursTmp", "GestionTutorat", null, new { @class = " btn btn-info" }) </p>
    </div>
}

</div>


<p style="display: none;">
    \u00bb = &raquo;
</p>