
@{
    ViewBag.Title = "cours";
}

<h2>cours</h2>

<h3>Refaire l'inscription au cours en version MVC ?</h3>

<p> Follow this : http://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/ </p>

<p> http://stackoverflow.com/questions/437955/submitting-form-elements-with-the-same-name </p>